body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	margin-bottom: 30px;
}

#header {
	margin: 0;
	position: fixed;
	padding: 10px auto;
	width: 25%;
	text-align: center;
}

nav {
	width: 25%;
	text-align: center;
	position: fixed;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	padding: 10px 8px;
	display: block;
	line-height: 2rem;
	border-bottom: 2px solid black;
	box-sizing: border-box;
	text-align: left;
	color:#5c605c; 
}

main{
	margin-left: 28%;
	top: 0;
	margin-top: 0;
}

h1 {
	color: #131413;
	font-size: 35px;
	font-weight: 600;
}

p, li {
	color: #5c605c;
}

p {
	padding-top: 15px;
}



.code1 {
	width: 70%;
	border: 1px solid #e8eded;
	border-left: 6px solid #6b5454;
	box-shadow: 5px 4px 4px #ada8a8;
	padding: 15px;
	background-color: #edeaea;
}


/* RESPONSIVE*/ 

@media only screen and (max-width: 900px) { 
	#header {
		position: static;
		text-align: center;
		margin: 20px auto;
	}

	nav {
		width: 100%;
		max-height: 245px;
		position: static;
		top: 70px;
		clear: both;
		text-align: center;
		overflow-y: auto;
	}

	main {
		width: 100%;
		margin-left: 20px;
	}
}
